<form>
    <p><label for="ASIreq">ASIs required: </label><input id="ASIreq" type="number" ng-model="$ctrl.character.abils.ASIreq" disabled/></p>
    <p><label for="pointCost">Point Buy Cost: </label><input id="pointCost" type="number" ng-model="$ctrl.character.abils.pointCost" disabled/></p>
    <p>
        <table class="pure-table pure-table-bordered">
            <tr>
                <th>Ability</th>
                <th>Base Score</th>
                <th>Racial Bonuses</th>
                <th>ASI Bonuses</th>
                <th>Total Score</th>
                <th>Modifier</th>
            </tr>
            <tr>
                <td>Strength</td>
                <td><input id="str" type="number" ng-model="$ctrl.character.abils.strBase" required min="3" max="15" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="strBonus" type="number" ng-model="$ctrl.character.abils.strBonus" min="-2" max="4" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="strASI" type="number" ng-model="$ctrl.character.abils.strASI" min="0" max="12" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="strTotal" type="number" ng-model="$ctrl.character.abils.strTotal" disabled/></td>
                <td><input id="strMod" type="number" ng-model="$ctrl.character.abils.strMod" disabled/></td>
            </tr>
            <tr>
                <td>Dexterity</td>
                <td><input id="dex" type="number" ng-model="$ctrl.character.abils.dexBase" required min="3" max="15" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="dexBonus" type="number" ng-model="$ctrl.character.abils.dexBonus" min="-2" max="4" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="dexASI" type="number" ng-model="$ctrl.character.abils.dexASI" min="0" max="12" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="dexTotal" type="number" ng-model="$ctrl.character.abils.dexTotal" disabled/></td>
                <td><input id="dexMod" type="number" ng-model="$ctrl.character.abils.dexMod" disabled/></td>
            </tr>
            <tr>
                <td>Constitution</td>
                <td><input id="con" type="number" ng-model="$ctrl.character.abils.conBase" required min="3" max="15" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="conBonus" type="number" ng-model="$ctrl.character.abils.conBonus" min="-2" max="4" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="conASI" type="number" ng-model="$ctrl.character.abils.conASI" min="0" max="12" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="conTotal" type="number" ng-model="$ctrl.character.abils.conTotal" disabled/></td>
                <td><input id="conMod" type="number" ng-model="$ctrl.character.abils.conMod" disabled/></td>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td><input id="int" type="number" ng-model="$ctrl.character.abils.intBase" required min="3" max="15" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="intBonus" type="number" ng-model="$ctrl.character.abils.intBonus" min="-2" max="4" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="intASI" type="number" ng-model="$ctrl.character.abils.intASI" min="0" max="12" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="intTotal" type="number" ng-model="$ctrl.character.abils.intTotal" disabled/></td>
                <td><input id="intMod" type="number" ng-model="$ctrl.character.abils.intMod" disabled/></td>
            </tr>
            <tr>
                <td>Wisdom</td>
                <td><input id="wis" type="number" ng-model="$ctrl.character.abils.wisBase" required min="3" max="15" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="wisBonus" type="number" ng-model="$ctrl.character.abils.wisBonus" min="-2" max="4" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="wisASI" type="number" ng-model="$ctrl.character.abils.wisASI" min="0" max="12" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="wisTotal" type="number" ng-model="$ctrl.character.abils.wisTotal" disabled/></td>
                <td><input id="wisMod" type="number" ng-model="$ctrl.character.abils.wisMod" disabled/></td>
            </tr>
            <tr>
                <td>Charisma</td>
                <td><input id="cha" type="number" ng-model="$ctrl.character.abils.chaBase" required min="3" max="15" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="chaBonus" type="number" ng-model="$ctrl.character.abils.chaBonus" min="-2" max="4" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="chaASI" type="number" ng-model="$ctrl.character.abils.chaASI" min="0" max="12" step="1" ng-change="$ctrl.updateAbils()" /></td>
                <td><input id="chaTotal" type="number" ng-model="$ctrl.character.abils.chaTotal" disabled/></td>
                <td><input id="chaMod" type="number" ng-model="$ctrl.character.abils.chaMod" disabled/></td>
            </tr>
        </table>
    </p>
</form>
