<form>
    <p><label for="charName">Character Name: </label><input id="charName" type="string" ng-model="$ctrl.character.core.charName"/></p>
    <p><label for="race">Race: </label><input id="race" type="string" ng-model="$ctrl.character.core.race" required/></p>
    <p><label for="class">Class: </label><input id="race" type="string" ng-model="$ctrl.character.core.class" required/></p>
    <p><label for="level">Level: </label><input id="race" type="number" ng-model="$ctrl.character.core.level" required min="1" max="20" step="1"/></p>
    <p><label for="hitDice">Hit Dice: </label><input id="hitDice" type="number" ng-model="$ctrl.character.core.hitDice" required min="6" max="12" step="2"/></p>
    <p><label for="hitPoints">Hit Points: </label><input id="hitPoints" type="number" ng-model="$ctrl.character.core.hitPoints" required min="1"/></p>
    <p><label for="hitPoints">Speed: </label><input id="speed" type="string" ng-model="$ctrl.character.core.speed"/></p>
    <p><label for="spellCasting">Spellcasting Progression: </label><input id="spellCasting" type="string" ng-model="$ctrl.character.core.spellCasting"/></p>
    <p><label for="spellStat">Spellcasting Stat: </label><input id="spellStat" type="string" ng-model="$ctrl.character.core.spellStat"/></p>
</form>
