<div>
  <button ng-click="toggleCore=!toggleCore">Character Details</button>
  <core-form ng-show="toggleCore"></core-form>
</div>

<div>
  <button ng-click="toggleAbils=!toggleAbils">Ability Scores</button>
  <ability-form ng-show="toggleAbils"></ability-form>
</div>
<div>
  <button ng-click="toggleSkills=!toggleSkills">Skills</button>
  <skill-form ng-show="toggleSkills"></skill-form>
</div>
<div>
  <button ng-click="toggleFeatures=!toggleFeatures">Features</button>
  <feature-form ng-show="toggleFeatures"></feature-form>
</div>
<div>
  <button ng-click="toggleSpells=!toggleSpells">Spells</button>
  <spell-form ng-show="toggleSpells"></spell-form>
</div>
<div>
  <button ng-click="toggleInventory=!toggleInventory">Inventory</button>
  <inventory-form ng-show="toggleInventory"></inventory-form>
</div>
