<form>
  {{$ctrl.character.skills.character}}
    <p>
      <label for="jackOfAllTrades">Jack of All Trades? </label><input id="jackOfAllTrades" type="checkbox" ng-model="$ctrl.character.skills.jackOfAllTrades" ng-change="$ctrl.character.skills.updateSkills()" />
        <table>
            <tr>
                <th>Skill</th>
                <th>Proficiency</th>
                <th>Expertise</th>
                <th>Ability</th>
                <th>Ability Mod</th>
                <th>Total Mod</th>
            </tr>
            <tr>
                <td>Acrobatics</td>
                <td><input id="acrobaticsProf" type="checkbox" ng-model="$ctrl.character.skills.acrobaticsProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="acrobaticsExp" type="checkbox" ng-model="$ctrl.character.skills.acrobaticsExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>DEX</td>
                <td><input id="acrobaticsMod" type="number" ng-model="$ctrl.character.skills.ability.dexMod" /></td>
            </tr>
            <tr>
                <td>Animal Handling</td>
                <td><input id="animalhandlingProf" type="checkbox" ng-model="$ctrl.character.skills.animalhandlingProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="animalhandlingExp" type="checkbox" ng-model="$ctrl.character.skills.animalhandlingExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>WIS</td>
                <td><input id="animalhandlingMod" type="number" ng-model="$ctrl.character.skills.ability.wisMod" /></td>
            </tr>
            <tr>
                <td>Arcana</td>
                <td><input id="arcanaProf" type="checkbox" ng-model="$ctrl.character.skills.arcanaProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="arcanaExp" type="checkbox" ng-model="$ctrl.character.skills.arcanaExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>INT</td>
                <td><input id="arcanaMod" type="number" ng-model="$ctrl.character.skills.ability.intMod" /></td>
            </tr>
            <tr>
                <td>Athletics</td>
                <td><input id="athleticsProf" type="checkbox" ng-model="$ctrl.character.skills.athleticsProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="athleticsExp" type="checkbox" ng-model="$ctrl.character.skills.athleticsExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>STR</td>
                <td><input id="athleticsMod" type="number" ng-model="$ctrl.character.skills.ability.strMod" /></td>
            </tr>
            <tr>
                <td>Deception</td>
                <td><input id="deceptionProf" type="checkbox" ng-model="$ctrl.character.skills.deceptionProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="deceptionExp" type="checkbox" ng-model="$ctrl.character.skills.deceptionExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>CHA</td>
                <td><input id="deceptionMod" type="number" ng-model="$ctrl.character.skills.ability.chaMod" /></td>
            </tr>
            <tr>
                <td>History</td>
                <td><input id="historyProf" type="checkbox" ng-model="$ctrl.character.skills.historyProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="historyExp" type="checkbox" ng-model="$ctrl.character.skills.historyExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>INT</td>
                <td><input id="historyMod" type="number" ng-model="$ctrl.character.skills.ability.intMod" /></td>
            </tr>
            <tr>
                <td>Insight</td>
                <td><input id="insightProf" type="checkbox" ng-model="$ctrl.character.skills.insightProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="insightExp" type="checkbox" ng-model="$ctrl.character.skills.insightExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>WIS</td>
                <td><input id="insightMod" type="number" ng-model="$ctrl.character.skills.ability.wisMod" /></td>
            </tr>
            <tr>
                <td>Intimidation</td>
                <td><input id="intimidationProf" type="checkbox" ng-model="$ctrl.character.skills.intimidationProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="intimidationExp" type="checkbox" ng-model="$ctrl.character.skills.intimidationExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>CHA</td>
                <td><input id="intimidationMod" type="number" ng-model="$ctrl.character.skills.ability.chaMod" /></td>
            </tr>
            <tr>
                <td>Investigation</td>
                <td><input id="investigationProf" type="checkbox" ng-model="$ctrl.character.skills.investigationProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="investigationExp" type="checkbox" ng-model="$ctrl.character.skills.investigationExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>INT</td>
                <td><input id="investigationMod" type="number" ng-model="$ctrl.character.skills.ability.intMod" /></td>
            </tr>
            <tr>
                <td>Medicine</td>
                <td><input id="medicineProf" type="checkbox" ng-model="$ctrl.character.skills.medicineProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="medicineExp" type="checkbox" ng-model="$ctrl.character.skills.medicineExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>WIS</td>
                <td><input id="medicineMod" type="number" ng-model="$ctrl.character.skills.ability.wisMod" /></td>
            </tr>
            <tr>
                <td>Nature</td>
                <td><input id="natureProf" type="checkbox" ng-model="$ctrl.character.skills.natureProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="natureExp" type="checkbox" ng-model="$ctrl.character.skills.natureExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>INT</td>
                <td><input id="natureMod" type="number" ng-model="$ctrl.character.skills.ability.intMod" /></td>
            </tr>
            <tr>
                <td>Perception</td>
                <td><input id="perceptionProf" type="checkbox" ng-model="$ctrl.character.skills.perceptionProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="perceptionExp" type="checkbox" ng-model="$ctrl.character.skills.perceptionExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>WIS</td>
                <td><input id="perceptionMod" type="number" ng-model="$ctrl.character.skills.ability.wisMod" /></td>
            </tr>
            <tr>
                <td>Performance</td>
                <td><input id="performanceProf" type="checkbox" ng-model="$ctrl.character.skills.performanceProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="performanceExp" type="checkbox" ng-model="$ctrl.character.skills.performanceExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>CHA</td>
                <td><input id="performanceMod" type="number" ng-model="$ctrl.character.skills.ability.chaMod" /></td>
            </tr>
            <tr>
                <td>Persuasion</td>
                <td><input id="persuasionProf" type="checkbox" ng-model="$ctrl.character.skills.persuasionProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="persuasionExp" type="checkbox" ng-model="$ctrl.character.skills.persuasionExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>CHA</td>
                <td><input id="persuasionMod" type="number" ng-model="$ctrl.character.skills.ability.chaMod" /></td>
            </tr>
            <tr>
                <td>Religion</td>
                <td><input id="religionProf" type="checkbox" ng-model="$ctrl.character.skills.religionProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="religionExp" type="checkbox" ng-model="$ctrl.character.skills.religionExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>INT</td>
                <td><input id="religionMod" type="number" ng-model="$ctrl.character.skills.ability.intMod" /></td>
            </tr>
            <tr>
                <td>Sleight of Hand</td>
                <td><input id="sleightofhandProf" type="checkbox" ng-model="$ctrl.character.skills.sleightofhandProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="sleightofhandExp" type="checkbox" ng-model="$ctrl.character.skills.sleightofhandExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>DEX</td>
                <td><input id="sleightofhandMod" type="number" ng-model="$ctrl.character.skills.ability.dexMod" /></td>
            </tr>
            <tr>
                <td>Stealth</td>
                <td><input id="stealthProf" type="checkbox" ng-model="$ctrl.character.skills.stealthProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="stealthExp" type="checkbox" ng-model="$ctrl.character.skills.stealthExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>DEX</td>
                <td><input id="stealthMod" type="number" ng-model="$ctrl.character.skills.ability.dexMod" /></td>
            </tr>
            <tr>
                <td>Survival</td>
                <td><input id="survivalProf" type="checkbox" ng-model="$ctrl.character.skills.survivalProf" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td><input id="survivalsExp" type="checkbox" ng-model="$ctrl.character.skills.survivalExp" ng-change="$ctrl.character.skills.updateSkills()" /></td>
                <td>WIS</td>
                <td><input id="survivalMod" type="number" ng-model="$ctrl.character.skills.ability.wisMod" /></td>
            </tr>
        </table>
    </p>
</form>
